{% extends 'base.html' %}
{% block title %}
    Admin Panel
{% endblock %}
{% block content %}

<div id="admin-container">

    <!-- Add Book Section -->
    <div id="add-book-section" onclick="toggleForm('add-book')">
        <p>Add New Book</p>
        <div id="add-book-form" style="display: none;" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.add_book') }}" method="POST">
                <p>Book Title:</p>
                <input type="text" name="title">
                <p>Book Subtitle:</p>
                <input type="text" name="subtitle">
                <p>Description:</p>
                <input type="text" name="description">
                <p>Select Author:</p>
                <select id="add-book-author" name="book_author_id">
                    {% for author in authors %}
                        <option value="{{author.author_id}}">{{ author.author_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add Book</button>
            </form>
        </div>
    </div>

    <!-- Remove Book Section -->
    <div id="remove-book-section" onclick="toggleForm('remove-book')">
        <p>Remove Book</p>
        <div id="remove-book-form" style="display: none;" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.remove_book') }}" method="POST">
                <select id="remove-book-select" name="book_id"
                        onchange="checkIfRemovable('/admin/is-book-free/', 'remove-book-select', 'remove-book-form')">
                    <option value="" selected disabled>-- Select Book --</option>
                    {% for book in books %}
                        <option value="{{book.book_id}}">{{ book.title }}</option>
                    {% endfor %}
                </select>
                <p class="warning-message" style="display: none;">
                    This book has pending transactions. Complete them first.
                </p>
                <button class="delete-btn" type="submit" style="display: block;">Remove Book</button>
            </form>
        </div>
    </div>

    <!-- Update Book Section -->
    <div id="update-book-section" onclick="toggleForm('update-book')">
        <p>Update Book</p>
        <div id="update-book-form" style="display: none;" onclick="event.stopPropagation()">
            <select id="update-book-select" name="book_id" onchange="loadBookData()">
                <option value="" selected disabled>-- Select Book --</option>
                {% for book in books %}
                    <option value="{{ book.book_id }}">{{ book.title }}</option>
                {% endfor %}
            </select>

            <form id="update-book-details" action="{{ url_for('admin.update_book') }}" method="POST" style="display: none;">
                <input type="hidden" id="update-book-id" name="book_id_get">

                <p>Title:</p>
                <input type="text" id="update-title" name="title">

                <p>Subtitle:</p>
                <input type="text" id="update-subtitle" name="subtitle">

                <p>Description:</p>
                <input type="text" id="update-description" name="description">

                <p>Add Copies:</p>
                <input type="number" id="update-copies" name="copies" min="1">

                <p>Author:</p>
                <select id="update-author" name="author_id">
                    {% for author in authors %}
                        <option value="{{ author.author_id }}">{{ author.author_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Update Book</button>
            </form>
        </div>
    </div>

    <!-- Add Author Section -->
    <div id="add-author-section" onclick="toggleForm('add-author')">
        <p>Add Author</p>
        <div id="add-author-form" style="display: none;" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.add_author') }}" method="POST">
                <p>Author Name:</p>
                <input type="text" name="authorname">
                <p>About Author:</p>
                <input type="text" name="aboutauthor">
                <button type="submit">Add Author</button>
            </form>
        </div>
    </div>

    <!-- Remove Author Section -->
    <div id="remove-author-section" onclick="toggleForm('remove-author')">
        <p>Remove Author</p>
        <div id="remove-author-form" style="display: none;" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.remove_author') }}" method="POST">
                <select id="remove-author-select" name="author_id"
                        onchange="checkIfRemovable('/admin/is-author-free/', 'remove-author-select', 'remove-author-form')">
                    <option value="" selected disabled>-- Select Author --</option>
                    {% for author in authors %}
                        <option value="{{author.author_id}}">{{ author.author_name }}</option>
                    {% endfor %}
                </select>
                <p class="warning-message" style="display: none;">
                    This author is linked to existing books. Update those books first.
                </p>
                <button class="delete-btn" type="submit" style="display: block;">Remove Author</button>
            </form>
        </div>
    </div>

    <!-- Add Student -->
    <div id="add-student-section" onclick="toggleForm('add-student')">
        <p>Add Student</p>
        <div id="add-student-form" style="display: none" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.add_student') }}" method="POST">
                <p>Student ID:</p>
                <input type="number" name="student-id">
                <p>student Name:</p>
                <input type="text" name="student-name">
                <p>Branch Name</p>
                <select id="branch-id" name="branch-id">
                    {% for branch in branches %}
                        <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add The Student</button>
            </form>
        </div>
    </div>

    <!-- Remove student Section -->
    <div id="remove-student-section" onclick="toggleForm('remove-student')">
        <p>Remove Student</p>
        <div id="remove-student-form" style="display: none;" onclick="event.stopPropagation()">
            <form action="{{ url_for('admin.remove_student') }}" method="POST">
                <select id="remove-student-select" name="student-id-to-remove"
                        onchange="checkIfRemovable('/admin/is-student-free/', 'remove-student-select', 'remove-student-form')">
                    <option value="" selected disabled>-- Select Book --</option>
                    {% for student in students %}
                        <option value="{{student.student_id}}">{{ student.student_id }}</option>
                    {% endfor %}
                </select>
                <p class="warning-message" style="display: none;">
                    The Student has pending transactions. Complete them first.
                </p>
                <button class="delete-btn" type="submit" style="display: block;">Remove Student</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
