<html>
<head>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<header>
    <h1>XYZ University</h1>
</header>
<body onload="window.location.href='/books">
  <nav class="navbar">
  <ul>
    <li class="nav-item" onclick="window.location.href='/books'">Books</li>
    <li class="nav-item" onclick="window.location.href='/transactions'">Transactions</li>
    <li class="nav-item" onclick="window.location.href='/admin'">Admin</li>
  </ul>
</nav>
{% block content %}
{% endblock %}
<script src="{{ url_for('static', filename='JS/script.js')}}"></script>
</body>
</html>
