{% extends 'base.html' %}
{% block title %}
    Books
{% endblock %}
{% block content %}
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search books by title...">
    </div>
    {% if not books %}
        <h2 style="text-align: center">No books available. Please add some!</h2>
    {%  endif %}

    <div class="books-container">
        {% for book in books %}
        <div id="book-{{ book.book_id }}"
                class="book-card"
                data-available="{{ book.available_copies }}"
                data-total_copies="{{ book.total_copies }}">

            <h2>{{ book.title }}</h2>
            <h5>{{ book.subtitle }}</h5>
            <p>{{ book.description }}</p>

            <h5>Author Name: </h5>
            {% with author = authors.query.get(book.author_id) %}
            <p>{{ author.author_name }}</p>
            <h5>About Author:</h5>
            <p>{{ author.about_author }}</p>
            {% endwith %}

            <button class="issue-btn" onclick="toggleTransForm('book-{{ book.book_id }}', true)"  disabled>Issue Book</button>
            <button class="return-btn" onclick="toggleTransForm('book-{{ book.book_id }}', false)" disabled>Take Return</button>

            <form class="issue-form" style="display: none">
                <select class="student-id" name="student-id" onchange="checkStudent('books/student-free/', 'book-{{ book.book_id }}')">
                    <option value="" selected disabled>-- Select Student --</option>
                    {% for student in students %}
                        <option value="{{student.student_id}}">{{ student.student_id }}</option>
                    {% endfor %}
                </select>
            </form>

            <form class="student-info-form" style="display: none" action="{{ url_for('books.add_book_transaction') }}" method="POST">
                <input type="hidden" class="student-id" name="student-id">
                <p style="display: inline">Name of the student: </p>
                <p class="student-name" style="display: inline"></p>
                <br>
                <p style="display: inline">Branch of the Student: </p>
                <p class="student-branch" style="display: inline"></p>
                <input type="hidden" class="book-id" name="book-id" value="{{ book.book_id }}">
                <br>
                <button class="issue-btn-2" disabled></button>
            </form>

            <div class="return-form" style="display: none">
                {% for transaction in book.transactions %}
                <form id="return-form-{{ transaction.transaction_id }}" action="{{ url_for('books.close_transaction') }}" method="POST">
                    <input type="hidden" name="transaction-id" value="{{ transaction.transaction_id }}">
                    <input type="hidden" name="student-id" value="{{ transaction.student_id }}">

                    <p>Issue Date: <span>{{ transaction.issued_date }}</span></p>
                    <p>Student ID: <span>{{ transaction.student_id }}</span></p>
                    <p>Name of the Student: <span>{{ transaction.students.name }}</span></p>
                    <p>Branch of the Student: <span>{{ transaction.students.branches.branch_name }}</span></p>

                    <button type="submit">Close Transaction</button>
                </form>
                {% endfor %}
            </div>

        </div>
        {% endfor %}

    </div>
{% endblock %}